@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #FAFAFA;
}

header {
    background: #FAFAFA;
    padding: 8px;
    color: #292A27;
    text-align: center;
    font-size: 1.3em;
}

h2 {
    color: #292A27;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper .container {
    width: 1024px;
    border-radius: 20px;
    margin: 16px;
    background: #F8F9FA;
    padding: 16px;
    flex-grow: 1;
    height: fit-content;
    border: solid #303030 3px;
    box-shadow: 6px 6px #303030;
}


.item {
    border-radius: 10px;
    margin-top: 16px;
    padding: 12px 24px 12px 24px;
    background: white;
    display: flex;
    align-items: center;
    border: solid #303030 2px;
}

.item > .inner h2 {
    margin-bottom: unset;
}

.item > .inner p {
    margin-top: 5px;
}

.form {
    display: flex;
    padding: 16px;
    flex-direction: column;
    border-radius: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 400;
}

.shadow {
    box-shadow: 6px 6px #303030;
}

input[type=text], input[type=number] {
    font-family: "Work Sans", sans-serif;
    background: #FAFAFA;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 8px;
    font-size: 24px;
}

input[type=text]:focus, input[type=number]:focus {
    outline: none;
    border-bottom: 2px solid #000;
}

.btn-submit, .save-button, #searchSubmit {
    width: fit-content;
    background: #2DE2EE;
    font-family: "Work Sans", sans-serif;
    border-radius: 10px;
    padding: 12px 24px;
    color: #000000;
    font-size: 18px;
    margin-top: 24px;
    align-self: flex-end;
    cursor: pointer;
    border: solid #303030 2px;
    box-shadow: 6px 6px #303030;
    transition: box-shadow 0.3s ease;
}

.btn-submit:hover, .save-button:hover {
    box-shadow: none;
}

#searchSubmit {
    width: fit-content;
    background: #1F4690;
    font-family: "Work Sans", sans-serif;
    border-radius: 30px;
    padding: 12px 80px;
    border: none;
    color: white;
    font-size: 18px;
    align-self: flex-end;
    cursor: pointer;
    margin-left: 16px;
}

#searchSubmit:hover {
    background: #FFFFFF;
    color: #1F4690;
    border: 2px solid #1F4690;
}

.searchItem {
    flex-direction:column;
}

input[type=text], input[type=number], .btn-submit:focus {
    outline: none;
}

.text-center {
    text-align: center;
}

.form-title {
    margin: auto 0;
}

.check-button {
    width: fit-content;
    background: #D7EF31;
    font-family: "Work Sans", sans-serif;
    border-radius: 10px;
    padding: 12px 24px;
    border: none;
    color: #000000;
    font-size: 14px;
    margin-left: auto;
    cursor: pointer;
    border: solid #303030 2px;
    box-shadow: 6px 6px #303030;
    transition: box-shadow 0.3s ease;
}

.check-button:hover {
    box-shadow: none;
}

.edit-button {
    width: fit-content;
    background: #B8DCE3;
    font-family: "Work Sans", sans-serif;
    border-radius: 10px;
    padding: 12px 24px;
    border: none;
    color: #000000;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    border: solid #303030 2px;
    box-shadow: 6px 6px #303030;
    transition: box-shadow 0.3s ease;
}

.edit-button:hover {
    box-shadow: none;
}

.trash-button {
    width: fit-content;
    background: #F99D6C;
    font-family: "Work Sans", sans-serif;
    border-radius: 10px;
    padding: 12px 24px;
    border: none;
    color: #000000;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    border: solid #303030 2px;
    box-shadow: 6px 6px #303030;
    transition: box-shadow 0.3s ease;
}

.trash-button:hover {
    box-shadow: none;
}

.undo-button {
    width: fit-content;
    background: #FFF500;
    font-family: "Work Sans", sans-serif;
    border-radius: 10px;
    padding: 12px 24px;
    border: none;
    color: #000000;
    font-size: 14px;
    margin-left: auto;
    cursor: pointer;
    border: solid #303030 2px;
    box-shadow: 6px 6px #303030;
    transition: box-shadow 0.3s ease;
}

.undo-button:hover {
    box-shadow: none;   
}

.cancel-button {
    width: fit-content;
    background: #F99D6C;
    font-family: "Work Sans", sans-serif;
    border-radius: 10px;
    padding: 12px 24px;
    color: #000000;
    font-size: 18px;
    margin-top: 24px;
    align-self: flex-end;
    cursor: pointer;
    border: solid #303030 2px;
    box-shadow: 6px 6px #303030;
    transition: box-shadow 0.3s ease;
}

.cancel-button:hover {
    box-shadow: none;
}

.check-button:focus, .trash-button {
    outline: none;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  

@media only screen and (max-width: 1024px) {
    .wrapper {
        margin: 0;
    }

    .wrapper .container {
        width: 100%;
    }

    .list-item {
        width: 90%;
    }

    .form {
        width: 100%;
    }
}